/*html {
 position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
}*/
@import "fonts.css";

body {
     background-size: cover !important;
}

main {
	background-color: #e5d0ac;
	box-shadow: 0px 0px 5px #009AB6;
}

ul, div:not(body div) {
	border-radius: 5px;
	background-color: #e5d0ac; 
	margin: 5px;
	padding-left: 10px;
	border: solid 2px #009AB6;
	box-shadow: 5px 5px 5px #009AB6;
}

h1 {
	font-family: 'treasuremap', 'normal' !important;
}

a {
	font-family: 'Treasure Map Deadhand', 'normal' !important;
	font-size: 20px !important;
	text-decoration: none;
	background-color: #e5d0ac;
	color: #009AB6 !important;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

a:hover {
	border: solid 2px #66512A !important;
	background-color: #009AB6 !important;
	color: #66512A !important;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

/*.cursor{
   position: fixed;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background-color: #f5f5f5;
   pointer-events: none;
   mix-blend-mode: difference;
   z-index: 999;
   transition: transform 0.2s;
 }*/





